<!doctype html>
<html>
  <title>Audio Streaming App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>
<body>
<div class="container">
      <div class="page-header">
        <h1>Flask Audio Streaming App</h1>
      </div>
    {% block content %}

    {% endblock content %}
    <hr/>
    <div class="modal-footer">
    </div>
</div>
</body>
</html>